{% extends 'base.html' %}

{% block content %}

    <div class="presentation w-75">
        <h1>{% block title %} Welcome to Spativis {% endblock %}</h1>
        
        <p>Spativis is a high quality space viewer designed for astronomy professionals and enlightened amateurs. It offers an
        immersive and interactive experience to explore the sky and discover the wonders of the universe.</p>
        
        <p>With its advanced visualization features, you can see sky objects in their true position in space and understand how
        they relate to each other. The data displayed in Spativis has been pre-processed for better readability and easy
        understanding, such as supernovas highlighted for increased visibility.</p>
    </div>

    
{% endblock %}
