{% extends 'base.html' %}

{% block content %}

    <div class="presentation w-75">
        <h1>{% block title %} Welcome to Spativis {% endblock %}</h1>
        
        <p>Spativis est un visualiseur spatial de haute qualité conçu pour les professionnels de l'astronomie et les amateurs
        éclairés. Il offre une expérience immersive et interactive pour explorer le ciel et découvrir les merveilles de
        l'univers.</p>
    
        <p>Grâce à ses fonctionnalités de visualisation avancées, vous pouvez voir les objets célestes dans leur véritable position
        dans l'espace et comprendre comment ils sont liés les uns aux autres. Les données affichées dans Spativis ont été
        prétraitées pour une meilleure lisibilité et une compréhension facile, comme les supernovas mises en évidence pour une
        visibilité accrue.</p>
    </div>

    
{% endblock %}
