{% extends 'base.html' %}

{% block content %}
    <div class="presentation w-100">
        <h1>Supernovas</h1>
        <p>Here are the supernovas that have been discovered by the LSST.</p>
        
        <!-- Loading -->
        <div id="loading" class="loading mt-5">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> 
        <!-- Tableau data supernovas -->
        <table id="table-supernovae" class="table table-dark table-hover hidden">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Galaxy</th>
                <th scope="col">Discovery date</th>
                <th scope="col">R.A.</th>
                <th scope="col">Decl.</th>
                <th scope="col">Offset</th>
                <th scope="col">Magnitude</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        
    </div>

    
    <script src="{{ url_for('static', filename='supernovas.js') }}"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


{% endblock %}
